* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 500px;
    margin: 0 auto;
    background-color: #18191a;
    color: white;
}

.auth-form {
    display: flex;
}

.auth-form label input {
    background-color: #18191a;
    border: 2px solid white;
    color: white;
}

.auth-form label input::placeholder {
    color: white;
}

article {
    margin: 20px 0;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 1s;
}

article:hover {
    background-color: #666c71;
}

ul {
    margin: 10px 0;
}
